# Include Python dependencies
!requirements.txt

# Include Node dependencies
!frontend/package.json   

# Include exact dependency versions
!frontend/package-lock.json  

# Backend----------------------------------------

# Exclude virtual environments
env/
# Python cache files
*.pyc
# Python compiled bytecode
__pycache__/
# SQLite database in Backend
Backend/db.sqlite3    
# Collected static files in Backend
Backend/staticfiles/  
# Exclude migrations unless initial migrations are necessary
Backend/migrations/   

# Frontend-----------------------------------------

# Frontend dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# Frontend testing
frontend/coverage

# Frontend production
frontend/build


# Misc
.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Debug log files 
npm-debug.log*
yarn-debug.log*
yarn-error.log*