.homepage {
    width: auto;
    text-align: center;
    margin-top: 60px;
    
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.featured-products  {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.featured-products h2{
    color: #fff;
}

.product-list{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.product-item {
    flex: 0 0 auto;
    width: 250px; 
}

/* Sidebar styling */
.sidebar {
    width: 200px;
    height: 94vh;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #000000;
    padding: 20px;
    overflow-y: auto;
    color: #fff;
}

.sidebar h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #fff;
}

.category-list {
    display: flex;
    flex-direction: column;
}

.category-item {
    padding: 10px 0;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #555;
    transition: background-color 0.3s;
}

.category-item:hover {
    background-color: #444;
    color: #ff6347;
}

/* Main content styling */
.main-content {
    margin-left: 220px;
    padding: 20px;
    margin-top: 60px;
}

/* For smaller screens */
@media (max-width: 768px) {
    .sidebar {
        width: 180px;
    }

    .main-content {
        margin-left: 200px;
    }
}
